<ion-view view-title="Role List">
  <ion-nav-buttons side="secondary">
       <a class="button button-icon ion-loop" ng-click="refreshRoles()">
      </a>
       <a class="button button-icon ion-plus-circled" href="#/app/addrole">
      </a>
  </ion-nav-buttons>
  <ion-content>
    <h1>Role List</h1>
<!--     <ul class="dataTable">
    <li class="row dataRow">
    <span class="col">Make</span> <span class="col">Model</span> <span class="col">Year</span> <span class="col">VIN</span>
    </li>
    <li class="row dataRow" ng-repeat="vehicle in vroom">
    <span class="col">{{vehicle.make}}</span> <span class="col">{{vehicle.model}}</span> <span class="col">{{vehicle.year}}</span> <span class="col">{{vehicle._id}}</span>
    </li>
    </ul>
 -->  </ion-content>
</ion-view>
